DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

# Owner principal al botului
OWNER_ID=1332434294575988919

# Mai multe ID-uri separate prin virgula
SUPERUSER_IDS=1332434294575988919

# Dashboard
DASHBOARD_HOST=127.0.0.1
DASHBOARD_PORT=3000
DASHBOARD_SECRET=schimba-cu-un-secret-lung
DASHBOARD_BASE_URL=http://localhost:3000
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:3000/auth/discord/callback

TIMEZONE=Europe/Bucharest
